@model IEnumerable<Object>

<div class="portlet-title">
    <div class="caption">
        <i class="icon-bar-chart font-green-sharp hide"></i>
        <span class="caption-helper">список:</span> &nbsp; <span class="caption-subject font-green-sharp bold uppercase">Помещений</span>
        @foreach (var item in Model)
        {
            <div class="todo-tasklist-item todo-tasklist-item-border-red">
                TEST
            </div>
        }
    </div>

</div>
