@using System.Web.Mvc
@using System.Web.Mvc.Html
@using ObjectInformation.DAL.Model
@model ObjectType
@{
    ViewBag.Title = "Типы объектов";
}
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Типы объектов <small>...</small>
</h3>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")">Главная</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Управление</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span style="color: black">Типы объектов</span>
        </li>
    </ul>

    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Действия <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#" onclick="AppObjectType.GetModalWindowForEditandPopulate(null, this);">Добавить</a>
                </li>
                <li>
                    <a href="#">Импорт в Excel</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-advance table-hover table-striped" id="tableObjectTypes">
            <thead>
                <tr>
                    <th style="width: 5%">Номер</th>
                    <th>Наименование</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        <br style="clear: both"/>
        @Html.Partial("ObjectType/_modifyObjectType")

    </div>
</div>

@section Scripts
{
    <script src="~/assets/plugins/AppObjectType.js"></script>

    <script>
        $(document).ready(function () {
            AppObjectType.init();
        });
    </script>
}